.Header {
    position: fixed;
    width: 100%;
    margin: 3rem 0;
    padding: 2rem 0;
    margin-top: 0;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeaderScrolled {
    background: rgba(0,0,0, 0.8);
    backdrop-filter: blur(20px);
    box-shadow: 0 2rem 4rem rgba(0,0,0, 0.4);
}

.HeaderGroup {
    max-width: 80rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
}

.Header a {
    color: white;
    font-weight: 700;
}

.Header button {
    padding: 0.8rem 2rem;
    font-size: 2rem;
    background: var(--color-secondary);
    border: none;
    font-weight: 700;
    border-radius: 0.6rem;
    outline: none;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header button:hover {
    background: white;
    box-shadow: 0 1rem 2rem rgba(0,0,0, 0.2);
    transform: translateY(-3px);
}

@media (max-width: 640px) {
    .Header {
        padding: 1.5rem 0;
    }

    .HeaderGroup {
        grid-template-columns: repeat(4, auto);
    }

    .Header a:nth-child(4) {
        display: none;
    }
}